{% extends "layout.njk" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/App.css">

  <title>Login</title>
</head>
<body>
  <div class="box-submenu">
    <div class="container container-xl">
      <div class="box">
        <div class="logo">
          <h5>MegaMart</h5>
        </div>

        <div class="search-user">
            <div class="search">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input 
                type="text"
                placeholder="Faça pesquisa de produtos"
              >
            </div>

            <div class="user-cart">
              <div class="login-logout">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <a href="/createAccount">Cadastrar-se</a>
              </div>

              <span>|</span>

              <div class="carrinho">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <a href="/cart">Carrinho</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box-form">
      <h4>Entrar</h4>
      <form class="form" action="/login" method="post">
        <label for="email">E-mail</label>
        <input 
          type="email" 
          name="email" 
          id="email"
          placeholder="Digite seu email"
        >

        <label for="email">Senha</label>
        <input 
          type="password" 
          name="password" 
          id="password"
          placeholder="Digite sua senha"
        >

        <button type="submit">Entrar</button>
        <div class="option">
          <h5><a href="/createAccount">Registre-se</a></h5>
          <h5><a href="/forgot">Esqueci a senha</a></h5>
        </div>
      </form>
    </div>
  </div>
</body>
</html>