{% extends "layout.njk" %}
{% block head %}
  <title>Categorias</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="box-categorias">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="img/casa/sofa-03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de Sofas</h5>
              <p class="card-text">Faça compras de sofas de qualidades para sua sala.</p>
              <p><a href="/sala">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/cozinha/panela-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de cozinha</h5>
              <p class="card-text">Equipamentos de qualidade para a sua cozinha, com preços acessíveis.</p>
              <p><a href="/cozinha">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/gym/auteres-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de Ginâsio</h5>
              <p class="card-text">Equipamentos de qualidades para praticar esportes.</p>
              <p><a href="/gym">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/laptops/lenovo-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de computadores</h5>
              <p class="card-text">Computadores sufisticados para realizar trabalhos e muito mais.</p>
              <p><a href="/pcs">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/mouses/mouse-02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de mouses</h5>
              <p class="card-text">Equipamentos de qualidade para trabalhos e jogos!</p>
              <p><a href="/mouses">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/sala/mesa-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de produtos para sala</h5>
              <p class="card-text">Equipamentos de qualidade para sua sala.</p>
              <p><a href="/sala">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/smartphones/02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de Smartphones</h5>
              <p class="card-text">Smartphones de qualidades.</p>
              <p><a href="/smartphones">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/smartTv/smart-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de smartTv's</h5>
              <p class="card-text">Tv's Smart de qualidades.</p>
              <p><a href="/smartTv">ver</a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="img/smartwatchs/image 2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Categoria de Smartwatchs</h5>
              <p class="card-text">Smartwatchs de qualidade.</p>
              <p><a href="/smartwatchs">ver</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}