{% extends "layout.njk" %}
{% block head %}
  <title>Categorias</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="img/casa/sofa-03.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categoria de Sofas</h5>
            <p class="card-text">Faça compras de sofas de qualidades para sua sala.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="img/cozinha/panela-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categoria de cozinha</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="img/gym/auteres-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categoria de Ginâsio</h5>
            <p class="card-text">Equipamentos de qualidades para praticar esportes.</p>
          </div>
        </div>
      <div class="col">
        <div class="card">
          <img src="img/laptops/lenovo-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categoria de computadores</h5>
            <p class="card-text">Computadores sufisticados para realizar trabalhos e muito mais.</p>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="img/mouses/mouse-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categoria de mouses</h5>
            <p class="card-text">Mouses de qualidade para trabalhos e jogos.</p>
          </div>
      </div>
        <div class="col">
          <div class="card">
            <img src="img/sala/mesa-02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Categoria de produtos para sala</h5>
            <p class="card-text">Equipamentos de qualidade para sua sala.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}