{% extends "layout.njk" %}
{% block head %}
  <title>Sala</title>
{% endblock %}

{% block content %}
  <div class="show-smartphone">
    <div class="gallery-smartphone">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="img/sala/mesa-01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mesa</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">680.000kz</p>
                    <p class="price-deprecated">700.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="img/sala/mesa-02.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mesa</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">300.400kz</p>
                    <p class="price-deprecated">400.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="img/sala/mesa-03.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mesa</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">550.000kz</p>
                    <p class="price-deprecated">590.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}